<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/travel_icon.png" type="image/icon type">
  </head>
  <body>
    <div id="background">
      <div id="page">
        {{> header}}
        <!-- Content goes here -->
        {{{ body }}}
        <!-- END CONTENT -->
      </div>
      {{> footer}}
    </div>
  </body>
</html>
