<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="background">
      <div id="page">
        {{> header}}
        <!-- Content goes here -->
        {{{body}}}
        <!-- END CONTENT -->
      </div>
      {{> footer}}
    </div>
    
  </body>
</html>
